@charset "UTF-8";

.title {
	margin-left: 10%;
	margin-top: 30px;
}

section {
	background-color: white;
}

section .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
}

section .buttons {
	display: inline-block; 
	margin-left: 85%;
	padding-bottom: 20px;
}

#auctionCancelModal {
	display: none;
}

#auctionCancelModal.active {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin: 250px 300px;
	background-color: white;
	width: 400px;
	text-align: center;
	border: 2px solid #ccc;	
	z-index: 100;
}

.auc-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom : 20px;
}

#auctionCancelModal p {
    font-size: 15px; /* 글자 크기 설정 */
    margin: 15px;
}

#auctionCancelModal button {
    font-size: 15px;
    margin: 5px;
    width: 80px;
    height: 40px; 
}

#BlindModal {
	display: none;
}

#BlindModal-del1 {
    width: 85px;
    height: 32px;
    font-size: 15px;
}

#BlindModal.active {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin: 250px 300px;
	background-color: white;
	width: 400px;
	text-align: center;
	border: 2px solid #ccc;
	z-index: 100;
}

#BlindModal p {
    font-size: 15px;
    margin: 20px;
}

#BlindModal button {
    font-size: 15px;
    margin: 20px;
    width: 80px;
    height: 30px; 
}

section .manager-boarddetail1 {
	display: flex;
	align-items: center;
	position: relative;
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.one {
	position: relative;
   	width: 15%;
}
.two {
	position: relative;
   	width: 20%;
}
.three {
	position: relative;
   	width: 10%;
}
.four {   
	position: relative;
   	width: 10%;
}
.five {   
	position: relative;
   	width: 20%;
}
.six {   
	position: relative;
   	width: 25%;
}

section .manager-boarddetail2 {
	display: flex;
	align-items: center;
	position: relative;
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 200px;
}

.seven {
	position: relative;
   	width: 15%;
}
.eight {
	position: relative;
   	width: 10%;
}
.nine {
	position: relative;
   	width: 20%;
}
.ten {   
	position: relative;
   	width: 15%;
}
.eleven {   
	position: relative;
   	width: 15%;
}
.twelve {   
	position: relative;
   	width: 25%;
}

section .manager-auction-boarddetail1 {
	display: flex;
	align-items: center;
	position: relative;
	width: 800px;
}


section .manager-auction-boarddetail2 {
	display: flex;
	align-items: center;
	position: relative;
	width: 1100px;
	margin: 0 auto;
}

table, th, td{
	border: 1px solid #686868;
	border-collapse: collapse;
	text-align: center;
}
tr {
	height: 10px;
}
th {
	background-color: #cacaca;
	height: 40px;
}
td {
	height: 40px;
}


table {
   position: relative;
   width: 90%;
}


.tbodyDiv {
	display: flex;
   	align-items: center;
   	justify-content: center;
   	
   	height: 35px;
}

.one:hover {
    color: blue;
    cursor: pointer;
}

.bidHistory {
	margin : 20px;
}