/* 
font-family: 'Poppins', sans-serif;
font-family: 'Varela Round', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');
section{
    font-family: 'Poppins', sans-serif; /*앞: 메인폰트, 뒤: 대체폰트(구현안될시)*/
    padding: 5rem 0; /*1.상하 2.좌우 ','사용금지*/
}
section .goods-detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
section .goods-detail .left{
    width: 500px;
    position: relative;
}
section .goods-detail .left img{
    width: 100%;
    height: 100%;
}

section .goods-detail .left .prev{
    display: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    left: 20px;
}

section .goods-detail .left .next{
    display: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    right: 20px;
}

section .goods-detail .left .select-pic{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

section .goods-detail .left .select-pic:last-child{
    margin-right: 0px;
}

section .goods-detail .left .unselect{
    width: 10px;
    height: 10px;
    opacity: 0.6;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 50%;
    margin-right: 10px;
}

section .goods-detail .left .select{
    width: 10px;
    height: 10px;
    opacity: 0.6;
    border-radius: 50%;
    margin-right: 10px;
    background: rgb(33, 33, 33);
    border: 0px
}

/* 프로필 영역 css*/
section .goods-detail .right{
    width: 600px;
    position: relative;
}

section .goods-detail .right .report{
    display: flex;
    justify-content: right;
    padding: 1rem;
}

section .goods-detail .right button{
    padding: 5px;
    font-size: 1rem;
}

section .goods-detail .right .profile{
    display: flex;
    justify-content: left;
    background-color: #A0D468;
    border-radius: 1rem;
    padding: 1rem;
}

section .goods-detail .right .profile .left{
    width: 100px;
    margin-right: 1rem;  
}

section .goods-detail .right .profile .left img{
    border-radius: 70%; 
}

section .goods-detail .right .profile .right{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

section .goods-detail .right .profile .right .reivew{
    display: flex;
}
section .goods-detail .right .profile .right .reivew p{
    margin-right: 3rem;
}

section .goods-detail .right .profile .right .user_name{
    margin-bottom: 1rem;
}

section .goods-detail .right .subject{
    display: flex;
    justify-content: space-between;
}

section .goods-detail .right .subject > * {
    font-size: 1.3rem;
}

section .goods-detail .right .subject .icon{
    margin-right: 2rem;
}

section .goods-detail .right .subject .icon i{
    color: pink;
}


section .goods-detail .right .subject, .price, .place, .reg-date{
    padding: 1rem;
    font-size: 18px;
}

section .goods-detail .right .btn{
    display: flex;
    justify-content: center;
    bottom: 0;
}

section .goods-detail .right .btn button{
    font-size: 1.5rem;
    padding: 1rem;
}

section .goods-content{
	width: 100%;
}

section .goods-content img{
	width: 100%;
}