/* 
font-family: 'Poppins', sans-serif;
font-family: 'Varela Round', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');
section{
    font-family: 'Poppins', sans-serif; /*앞: 메인폰트, 뒤: 대체폰트(구현안될시)*/
    padding: 10rem 0 5rem 0; /*1.상하 2.좌우 ','사용금지*/
}

section img{
    padding: 0;
}

section button, input[type="button"], input[type="submit"]{
    cursor: pointer;
}

section .goods-detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
section .goods-detail .left{
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}
section .goods-detail .left .picture .goodsImg{
    width: 100%;
    height: auto;
    max-height: 550px;
    padding-top: 40px;
}

section .goods-detail .left .prev{
    display: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    left: 20px;
}

section .goods-detail .left .next{
    display: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    right: 20px;
}

section .goods-detail .left .select-pic{
    position: absolute;
    bottom: -30px;
    display: flex;
}

section .goods-detail .left .unselect{
    width: 10px;
    height: 10px;
    opacity: 0.6;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 50%;
    margin-right: 10px;
}

section .goods-detail .left .select{
    width: 10px;
    height: 10px;
    opacity: 0.6;
    border-radius: 50%;
    margin-right: 10px;
    background: rgb(33, 33, 33);
    border: 0px
}

/* 프로필 영역 css*/
section .goods-detail .right{
    width: 700px;
    position: relative;
}

section .goods-detail .right .top{
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem 0;
}
#bbs-auctionMark {
    align-items: center;
    text-align: center;
    
    padding: 5px;
	font-family: 'Poppins', sans-serif;
	margin-right: 480px;
    background-color: pink;
    color: white;
    font-weight: bold;
}
section .goods-detail .right .top p{
	font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: #7f9ebc;
    color: white;
    font-weight: bold;
}
#bbs-stateMark {
	font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: #7f9ebc;
    color: white;
    font-weight: bold;
}

section .goods-detail .right button{
    padding: 5px;
    font-size: 1rem;
    background-color: #22382e;
    color: white;
    font-weight: bold;
    border: none;
    margin: 0 5px;
    border-radius: 2px;
}

section .goods-detail .right .profile{
    display: flex;
    justify-content: left;    
    /* background-color: #A0D468; */
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
.right-head {	
	position: relative;
	width: 20%;
	
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.right-body {	
	display: flex;
	
	position: relative;
	width: 80%;
	
	font-family: 'Poppins', sans-serif;
}

section .goods-detail .right .profile .left{
    width: 75px;
    margin-right: 50px;  
}

section .goods-detail .right .profile .left img{
    width: 75px;
    height: 75px;
    border-radius: 70%; 
}

section .goods-detail .right .profile .right{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

section .goods-detail .right .profile .right .reivew{
    display: flex;
}
section .goods-detail .right .profile .right .reivew p{
    margin-right: 3rem;
}

section .goods-detail .right .profile .right .user_name{
    margin-bottom: 1rem;
}

section .goods-detail .right .subject{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

section .goods-detail .right .subject p{
    font-size: 27px;
    text-align: center;
    padding: 10px;
}

section .goods-detail .right .subject .icon{
    margin-right: 2rem;
    padding: 10px;
}

section .goods-detail .right .subject .icon i{
    color: pink;
    font-size: 27px;
}

section .goods-detail .right .subject .icon .interest{
    border: none;
    background-color: white;
}

section .goods-detail .right .successful-bid, .now-price, .place, .reg-date, .bid-count, .time{
    display: flex;
    padding-left: 5px;
}
#timeCss, #regDateCss {
	paddimg-bottom: 16px;
	margin-bottom: 10px;
	border-bottom: 1px solid lightgray;
}


section .goods-detail .right .successful-bid p, .now-price p, .place p, .reg-date p, .bid-count p, .time p{
    padding: 10px;
    font-size: 16px
}

section #my-bid{
    display: none;
    color: #ff8298;
    font-weight: bold;
}

section .goods-detail .right .title{
    width: 150px;
    /* border-right: 1px dotted black; */
}

section .goods-detail .right .btn{
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-top: 30px;
}

section .goods-detail .right .btn button{
    font-size: 1.5rem;
    padding: 5px 10px;
    /* margin-right: 2rem; */
}
#planeBtn {
	font-size: 20px;
}


section .goods-detail .right .btn #buy{
    margin-right: 0;
}

section .goods-content{	
	width: 100%;
	border: 2px solid #22382e;
	padding: 10px;
}

section .goods-content img{
	width: 50%;
	height: auto;
}

section .goods-content p{
	margin-bottom: 3rem;
}

section #reportForm{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
}

section #reportForm .form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}

section #reportForm .form #report_option{
    width: 400px;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

section #reportForm .form textarea{
	resize: none;
    width: 400px;
    height: 200px;
    margin-bottom: 15px;
}

section #reportForm .form .btn-controller{
    width: 400px;
    display: flex;
    justify-content: right;
}

section #reportForm .form .btn-controller button{
    padding: 5px 10px;
    margin-left: 30px;
}

/* 경매에 관련된 css*/
section #bidForm{
    position: fixed;
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 30px 50px;
    display: none;
}

section #bidForm .top{
    position: absolute;
    right: 10px;
    top: 10px;
}

section .escape{
    border: none;
    background-color: white;
    font-size: 20px;
}

section #bidForm .bid-subject{
    display: flex;
    justify-content: center;
}

section #bidForm .bid-input{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

section #bidForm .bid-input > *{
    margin-right: 15px;
}

section #bidForm hr{
    margin: 15px 0;
}

section #bidForm .bidForm-info{
    font-size: 13px;
}

section #bidForm .bidForm-price div{
    margin: 0 0 10px 0;
}

section #bidForm .bidForm-price div .start-price{
    margin-left: 10px;
}

section #bidForm .bidForm-price div input{
    margin-left: 50px;
}

section #bidForm .bidForm-price div{
    display: flex;
}

section #bidForm .bidForm-price div .title{
    width: 120px; 
}

section #bidForm #bid-msg{
    position: fixed;
    display: none;
    width: 300px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section #bidForm #bid-msg .content{
    font-size: 13px;
}

section #bidForm #bid-msg .top{
    position: absolute;
    right: 10px;
    top: 10px;
}

section #bidForm #bid-price{
    text-align: right;
}