@charset "UTF-8";

/* css 기본 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.containerR {
	position: relative;
	top: 13%;
	width: 1300px;
	margin: 0 auto;	
}
/* css 기본 초기화 */
.main-subject {
   display: flex;
   flex-direction: row; 
   justify-content: flex-start;
   align-items: center;

   position: relative;
   width: 100%;
   height: 100px;
}
#main-subject-text {
   font-size: 25px;
   font-weight: bold;
}
#main-subject-sort {
   position: relative;
   width: 100px;
   height: 30px;
   font-size: 15px;
}
.main-subject-saleOption {
   display: flex;
   align-items: center;
   justify-content: flex-end;

   position: relative;
   width: 100%;
   height: 40px;

   font-size: 15px;
}
/* .seleOption-checkbox {
   
   border-radius: 50%;
   background-color: lightgray;
}
.seleOption-checkbox:checked {
   border-radius: 50%;
   background-color: black;
} */

.main-content {
   display: flex;
   flex-wrap: wrap;

   position: relative;
   width: 100%;
}
.main-content-goods {
   display: flex;
   flex-direction: column;

   position: relative;
   width: 300px;
   height: 380px;
   box-shadow: 0 2px 8px rgba(0,0,0,0.2);
   margin: 12.5px;
}
.goods-top {
   display: flex;
   flex-direction: row;

   position: relative;
   height: 10%;
}
.goods-top-left {
   display: flex;
   align-items: center;
   justify-content: flex-start; 

   position: relative;
   width: 50%;
}
.goods-top-right {
   display: flex;
   align-items: center; 
   justify-content: flex-end;

   position: relative;
   width: 50%;
}
.sold-out {
	opacity: 0.4;
}
.goods-top-right-mark1 {
   position: relative;
   width: 80px;
   height: 25px;
   text-align: center;

   background-color: #97001b;
   border-left: 2px solid #97001b;
   border-top: 2px solid #97001b;
   border-bottom: 2px solid #97001b;
   
   opacity: 1;
}
.goods-top-right-mark1 span{
   color: white;
   font-weight: bold;
}
.goods-top-right-mark2 {
   position: relative;
   width: 60px;
   height: 25px;
   text-align: center;

   background-color: pink;
   border-left: 2px solid lightgray;
   border-top: 2px solid lightgray;
   border-bottom: 2px solid lightgray;
}
.goods-top-right-mark2 span{
   font-weight: bold;
}
.goods-photo {
   display: flex;
   align-items:center;
   justify-content: center;

   position: relative;
   height: 54%;

   /* border-top: 2px solid lightgray; */
}
.goods-photo img {
   position: relative;
   width: 90%;
   height: 95%;
}
.goods-photo img:last-child {
   position: absolute;
   width: 15%;
   height: auto; 
   right: 5%;
   bottom: 5%; 
   z-index: 1;
}
.goods-subject {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   vertical-align: center;

   position: relative;
   height: 15%;

   /* border-top: 2px solid lightgray; */
}
.goods-subject span {
   position: relative;
   width: 90%;
   font-size: 18px;
   font-weight: bold;
}
.goods-price-1 {
   display: flex;
   flex-direction: row;

   position: relative;
   height: 7%;

   /* border-top: 2px solid lightgray; */
}
.goods-price-1-left {
   display: flex;
   align-items: center; 
   justify-content: flex-start; 

   position: relative;
   width: 80%;
}
#Price {
   font-weight: bold;
}
.goods-price-1-right {
   display: flex;
   align-items: center; 
   justify-content: flex-end; 

   position: relative;
   width: 20%;
}
.goods-price-2 {
   display: flex;
   align-items: center; 
   justify-content: flex-start; 


   position: relative;
   height: 7%;

   /* border-top: 2px solid lightgray; */
}
.goods-bottom {
   display: flex;
   flex-direction: row;

   position: relative;
   height: 7%;

   /* border-top: 2px solid lightgray; */
}
.goods-bottom-left {
   display: flex;
   align-items: center; 
   justify-content: flex-start; 

   position: relative;
   width: 35%;
}
.goods-bottom-right {
   display: flex;
   align-items: center; 
   justify-content: flex-end; 

   position: relative;
   width: 65%;
}
#dateStr {
	color: rgb(115, 115, 115);
}



/* 페이징 */
.main-paging {
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: relative;
	width: 100%;
}