@charset "UTF-8";



section{
    padding: 180px 0 0 0;
    /* background-color: lightblue; */
}

section button, input[type="button"], input[type="submit"]{
    cursor: pointer;
}

section .container{
    display: flex;
    
    background-color: white;
    border: 2px solid #22382e;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

section .menu{
	display: none;
	width: 200px;
	height: auto;
	background-color: white;
	position: fixed;
}

section .menu button{
	width: 200px;
	height: 50px;
	font-size: 20px;
}

section .leftArea{
	width: 400px;
	height: 700px;
	border-right: 2px solid #22382e;
	/* background-color: beige; */
}

section .leftArea .left-subject{
    display: flex;
    justify-content: center;
    text-align: center;
    
    width: 400px;
    height: 50px;
    line-height: 50px;
    
    color: white;
    font-weight: bold;
    background-color: #22382e;
    border-bottom: 1px solid gray;
}
#fa-paper-plane {
	color: white;
    font-weight: bold;
}

section .room-select{
    width: 400px;
    height: 650px;
    /* background-color: beige; */
    overflow-y: auto;
    max-height: auto;
    border-right: 2px solid #22382e;
}

section .photo{
	width: 300px;
	height: 300px;
}

section .size-cut .term{
    width: 70px;
    height: 21px;
}

section .room-select #room-list{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
}

section .room-select .room{
	position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: left;
    align-items: center;
    padding: 5px;
}

section .room-select .room .no-read{
	position: absolute;
    top: 10px;
    right: 10px;
    border: 5px solid red;
    border-radius: 5px;
}

section .circle-img{
	width: 90px;
    height: 90px;
    border: 1px solid gray;
    border-radius: 70%
}

section .room-info p{
	padding: 5px;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

section .room-subject{
	font-size: 18px;
	font-weight: bold;
}


section .room-select .last-conversation{
	position: absolute;
    right: 5px;
    bottom: 5px;
}

section .view-room{
    width: 900px;
    height: 700px;    
    /* background-color: lightcyan; */
    position: relative;
}
section .view-room .fa-square-envelope {
	display: flex;
    justify-content: center;
    
	position: relative;
    top: 30%;
    
    color: darkgray;
    font-size: 200px;
}
section .view-room .no-message{
	display: flex;
    justify-content: center;
    
    position: relative;
    width: 100%;
    top: 30%;
    
    color: darkgray;
    font-size: 30px;
    border-radius:10px;
}

section .view-room #view-subject{
	width: 100%;
	height: 130px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

section .view-room #view-subject .left{
    width: 200px;
}

section .view-room #view-subject .left #back{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 30px;
}

section .view-room #view-subject .left #deal{
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    height: 41px
}

section .view-room #view-subject .left #deal-btn{
    font-size: 20px;
    padding: 5px 10px;
}

section .view-room #view-subject .left #deal #reserve-icon{
    font-size: 30px;
    display:flex;
    align-items: center;
    margin-left: 10px;
}

section .view-room #view-subject .center{
	flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}

section .view-room #view-subject .right{
    width: 200px;
    position: relative;
}

section .view-room #view-subject .right .btn-controller{
    position: absolute;
    display: flex;
    justify-content: right;
    bottom: 5px;
    right: 5px;
}

section .view-room #view-subject .right .btn-controller button{
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 10px;
}

section .view-room #view-content{
	display: flex;
   	flex-direction: column;
	width: 100%;
	height: 520px;	
    overflow-y: auto;
    max-height: auto;
    position: relative;
}

section .view-room #view-content .to-day{
	display: flex;
    justify-content: center; 	
}

/*수신 메시지 ====================================*/

section #view-content .receive-msg-info{
    display: flex;
    justify-content: left;
    width: 100%;
}

section .receive-msg-info .size-cut{
	display: flex;
    justify-content: left;
	width: 500px;
	padding-bottom: 10px;
	position: relative;
}

section #view-content .receive-msg-info .circle-img{
	width: 50px;
	height: 50px; 	
}

section #view-content .receive-msg-info .message-info{
	display: flex;
	width: auto;
	justify-content: center;
    flex-direction: column;
    /*overflow: hidden; 넘어가면 숨김*/
    word-wrap: break-word;
}

section #view-content .receive-msg-info .size-cut .sendTime {
    width: 30px;
    align-self: flex-end; /* 수직으로 하단 정렬 */
    margin-left: 10px;
}

/*송신 메시지 =====================================*/

section #view-content .send-msg-info{
    width: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: right;
}

section .send-msg-info .size-cut{
	display: flex;
    justify-content: right;
	width: 500px;
	padding-bottom: 10px;
}

section #view-content .send-msg-info .sendTime {
    align-self: flex-end; /* 수직으로 하단 정렬 */
    margin-right: 10px;
}


section .view-room #send-form{
	width: 100%;
	height: 50px;
	background-color: #22382e; 
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;	
}

section .view-room #send-form button{
	width: 40px;
	height: 40px;
	font-size: 30px;
	margin: 0 5px;
}

#sendIconCss {
	font-size: 25px;
	color: #787878;
	margin: 0;
}

section .view-room #send-form input[type="text"]{
	flex: 1;
	height: 38px;
	border-radius: 5px;
}

/*신고 폼*/
section #reportForm{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
}

section #reportForm .form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}

section #reportForm .form #report_option{
    width: 400px;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

section #reportForm .form textarea{
	resize: none;
    width: 400px;
    height: 200px;
    margin-bottom: 15px;
}

section #reportForm .form .btn-controller{
    width: 400px;
    display: flex;
    justify-content: right;
}

section #reportForm .form .btn-controller button{
    padding: 5px 10px;
    margin-left: 30px;
}

section #dealForm {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

section #dealForm .top{
    display: flex;
    justify-content: right;
}

section #dealForm .top button{
    border: none;
    background-color: white;
    font-size: 25px;
}

section #dealForm .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section #dealForm .form > *{
	margin-top: 20px;
}

section #dealForm .form p{
	font-size: 20px;
	text-align: center;
}

section #dealForm .form button{
	width: 200px;
    font-size: 20px;
    padding: 5px 10px;
	display: inline-block; /* 중앙 정렬을 위해 추가 */
    text-align: center; /* 가로 방향으로 중앙 정렬을 위해 추가 */
}

section #dealForm .msg{
    font-size: 15px;
    text-align: center;
    color: red;
    padding-top: 10px;
}

/*========================================*/
section #comentForm, #deleteForm, #payForm, #allDeleteForm{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

section #comentForm .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section #comentForm .top{
    display: flex;
    justify-content: right;
}

section #comentForm .top button{
    border: none;
    background-color: white;
    font-size: 25px;
}

section #comentForm .form button{
	width: 150px;
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 10px;
}

section #comentForm .form img{
    margin: 10px 0;
}

section #comentForm .form .btn-controller{
    display: flex;
    justify-content: center;
}
/*=========================*/
section #deleteForm, #allDeleteForm {
    height: 150px;
}

section #deleteForm .form, #allDeleteForm .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section #deleteForm .top, #allDeleteForm .top{
    display: flex;
    justify-content: right;
}

section #deleteForm .top button, #allDeleteForm .top button{
    border: none;
    background-color: white;
    font-size: 25px;
}

section #deleteForm .form button, #allDeleteForm .form button{
	width: 150px;
    font-size: 15px;
    padding: 5px 10px;
    margin: 10px;
}

section #deleteForm .form .btn-controller, #allDeleteForm .form .btn-controller{
    display: flex;
    justify-content: center;
}

/*=========================*/
section #payForm {
	width: 500px;
    height: 150px;
}

section #payForm .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section #payForm .top{
    display: flex;
    justify-content: right;
}

section #payForm .top button{
    border: none;
    background-color: white;
    font-size: 25px;
}

section #payForm .form button{
	width: 150px;
    font-size: 15px;
    padding: 5px 10px;
    margin: 10px;
}

section #payForm .form .btn-controller{
    display: flex;
    justify-content: center;
}









/*사진 업로드*/
.picUpload {
	display: none;
}
.picUpload.active {
	display: flex;
	align-items: center;
    justify-content: center;
   	flex-direction: column;
	
	position: absolute;
	width: 400px;
	height: 200px;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	z-index: 1001;
	
	background-color: white;
	border: 4px solid lightgray;
}
.picUpload-top {
	display: flex;
	justify-content: flex-end;
	
	position: relative;
	width: 100%;
	height: 15%;
}
.deleteBtn {	
   padding: 5px;
   position: relative;
   width: 40px;
   height: 40px;

   border: none;
   background-color: white;
   font-size: 25px;
   color: gray;
}
.picUpload-center {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	
	position: relative;
	width: 60%;
	height: 60%;
	margin-top: 20px;
}
.picUpload-center-pDiv p {
	font-size: 13px;
}
.picUpload-bottom {
	display: flex;
	align-items:center;
	justify-content: center;
	
	position: relative;
	width: 100%;
	height: 25%;
}
.picUpload-bottom p {
   display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 100px;
   height: 25px;

   font-weight: bold;
   background-color: lightgray;
   border-radius: 10px;
}
.picUpload-bottom p:hover {
   color: white;
   background-color: rgb(68, 68, 68);
}

