@charset "UTF-8";

.Auction-top {
   display: flex;

   position: relative;
   width: 100%;
   height: 80px;
   margin: 20px auto;
}

..Auction-top p {
   display: flex;
   align-items: center;
   justify-content: center;

	position: relative;

	color: rgb(68, 68, 68);
   font-size: 25px;
} 

.Auction-top #nic {
	margin-left: 40px;
	font-weight: bold;
}

.Auction-center  {
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: relative;
	width: 90%;
	margin: 0 auto;
}

table, th, td{
	border: 1px solid #686868;
	border-collapse: collapse;
}
tr {
	height: 35px;
}
th {
	background-color: #cacaca;
}
td {
	height: 50px;
}
table {
	position: relative;
   width: 90%;
}
.one {
	position: relative;
   	width: 10%;
}
.two {
	position: relative;
   	width: 30%;
}
.three {
	position: relative;
   	width: 20%;
}
.four {   
	position: relative;
   	width: 20%;
}
.five {   
	position: relative;
   	width: 10%;
}
.six {   
	position: relative;
   	width: 10%;
}

.tbodyDiv {
	display: flex;
   	align-items: center;
   	justify-content: center;
   	
   	height: 35px;
}
