@charset "EUC-KR";


.main-top {
   display: flex;

   position: relative;
   width: 100%;
   height: 200px;
   margin: 30px auto;
}
.main-top-profilePic {
   display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 25%;
   height: 100%;
}
.main-top-profilePic img {
   position: relative;
   width: 70%;
   height: 90%;
   margin-left: 27%;
   margin-right: 8%;

   border-radius: 50%;
}
.main-top-profileNic {
   display: flex;
   align-items: center;
   justify-content: flex-start;

   position: relative;
   width: 50%;
   height: 100%;
}
.main-top-profileUpdate {
   display: flex;
   align-items: center;
   justify-content: flex-start;

   position: relative;
   width: 23%;
   height: 100%;
}
.main-top-profileUpdate p {
   display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 120px;
   height: 30px;

   font-weight: bold;
   background-color: lightgray;
   border-radius: 5px;
}
.main-top-profileUpdate p:hover {
   color: white;
   background-color: rgb(68, 68, 68);
}



.main-center {
   display: flex;
   flex-direction: column;

   position: relative;
   width: 100%;
   margin-bottom: 40px;
}
.main-center-first {
   display: flex;

   position: relative;
   width: 100%;
   height: 60px;
   margin-bottom: 10px;
}
.main-center-first-head {
   display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 26%;
   margin-left: 25px;
}
.main-center-first-body {
   display: flex;
   align-items: center;
   flex-direction: row;

   position: relative;
   width: 75%;
}
.fa-face-laugh-squint, .fa-face-rolling-eyes{
   font-size: 35px;
   color: rgb(68, 68, 68);
}
.main-center-first-body p{
   font-size: 20px;
   font-weight: bold;
   color: rgb(68, 68, 68);
}
.main-center-second {
   display: flex;

   position: relative;
   width: 100%;
   height: 200px;
   margin-bottom: 10px;
}
.main-center-second-head {
   display: flex;
   justify-content: center;

   position: relative;
   width: 26%;
   margin-left: 25px;
}
.main-center-second-body {
   display: flex;
   flex-direction: row;

   position: relative;
   width: 75%;
}
table, th, td {
   color: rgb(68, 68, 68);
   border: 2px solid lightgray;
   border-collapse: collapse;
}

.main-center-third {
   display: flex;

   position: relative;
   width: 100%;
   height: 90px;
   margin-top: 10px;
}
.main-center-third-head {
   display: flex;
   justify-content: center;

   position: relative;
   width: 26%;
   margin-left: 25px;
}
.main-center-third-body {
   display: flex;
   flex-direction: row;

   position: relative;
   width: 75%;
}
.main-center-third-body p{
   font-size: 20px;
   font-weight: bold;
   color: rgb(68, 68, 68);
}
.main-center-third-body i {
   display: flex;
   align-items: center;
   justify-content: center;
}
.fa-circle-dollar-to-slot{
   position: relative;
   width: 60px;
   height: 30px;

   font-size: 20px;
   color: rgb(68, 68, 68);
   background-color: lightgray;
   border-radius: 10px;
}
.fa-circle-dollar-to-slot:hover{
   color: white;
   background-color: rgb(68, 68, 68);
}



.main-bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	position: relative;
	width: 85%;
}
#secession {
	display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 100px;
   height: 30px;

   font-weight: bold;
   background-color: lightgray;
   border-radius: 5px;
}
#secession:hover {
   color: white;
   background-color: #d0375e;
}
.secessionDiv {
	display: none;
}
.secessionDiv.active {
	display: flex;
   	align-items: center;
   	justify-content: flex-start;
   	flex-direction: column;
   	
   	position: absolute;
   	width: 350px;
   	height: 280px;
   	top: 50%;
   	left: 50%;
   	transform: translate(-50%, -50%);
   	z-index: 1001;
   	
   	background-color: white;
   	border: 4px solid lightgray;
}
.secessionDiv-top {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	
	position: relative;
	width: 100%;
	height: 15%;
}
.deleteBtn2 {	
   position: relative;
   width: 30px;
   height: 30px;
   right: 5px;

   border: none;
   background-color: white;
   font-size: 20px;
   color: gray;
}
.secessionDiv-center {
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: relative;
	width: 90%;
	height: 85%;
}
.secessionDiv-center-pDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	position: relative;
	width: 90%;
	/* position: relative;
	height: 80%; */
}
.pDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	
	position: relative;
	height: 90px;
}
#textP {
	margin: 5px auto;
}
#blockName {
	font-weight: bold;
}
.unravel {
	display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 60px;
   height: 25px;
   margin-top: 5px;

   font-size: 13px;
   background-color: #f0f0f0;
   border-radius: 3px;
   border: 1px solid #626262;
}
.unravel:hover {
   background-color: #e0e0e0;
}