@charset "EUC-KR";


.profileUpdateDiv {
	display: flex;
	align-items: center;
	justify-content: center;	
	
	position: relative;
	width: 100%;
	height: 100%;
}

.profileUpdate-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	position: relative;
	widht: 500px;
	height: 200px;
	margin-top:100px;
}
.profileUpdate-top img {
   position: relative;
   width: 160px;
   height: 160px;
   margin-bottom: 10px;

   border-radius: 50%;
}
.profileUpdate-top p {
   display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 140px;
   height: 30px;

   font-weight: bold;
   background-color: lightgray;
   border-radius: 10px;
}
.profileUpdate-top p:hover {
   color: white;
   background-color: rgb(68, 68, 68);
}


.profileUpdate-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	position: relative;
	widht: 480px;
	height: 300px;
}
.profileUpdate-center-column {
	display: flex;
	flex-direction: row;
	
	position: relative;
	width: 55%;
	height: 50px;
}
.profileUpdate-center-head {
	display: flex;
	align-items: center;
	
	position: relative;
	width: 15%;
}
.profileUpdate-center-body {
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: relative;
	width: 85%;
}
input[type="text"] {
	display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 400px;
   height: 40px;
}


.profileUpdate-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	position: relative;
	widht: 90%;
	height: 10%;
}
input[type="submit"] {
	display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 100px;
   height: 35px;

   font-weight: bold;
   background-color: lightgray;
   border: none;
   border-radius: 10px;
}
input[type="submit"]:hover {
	color: white;
   background-color: rgb(68, 68, 68);
}




#pHidden {
	display: none;
}
#pHidden.active {
	display: flex;
}


.picUpdate {
	display: none;
}
.picUpdate.active {
	display: flex;
	align-items: center;
   justify-content: center;
   	flex-direction: column;
	
	position: absolute;
	width: 400px;
	height: 200px;
	left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
	z-index: 1001;
	
	background-color: white;
	border: 4px solid lightgray;
}
.picUpdate-top {
	display: flex;
	justify-content: flex-end;
	
	position: relative;
	width: 100%;
	height: 15%;
}
.deleteBtn {	
   padding: 5px;
   position: relative;
   width: 40px;
   height: 40px;

   border: none;
   background-color: white;
   font-size: 25px;
   color: gray;
}
.picUpdate-center {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	
	position: relative;
	width: 60%;
	height: 60%;
	margin-top: 20px;
}
.picUpdate-center-pDiv {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
}
#basicPic {
	  display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 73px;
   height: 24px;
   margin-bottom: 5px;

   font-size: 13px;
   background-color: #f0f0f0;
   border-radius: 3px;
   border: 1px solid #626262;
}
#basicPic:hover {
   background-color: #e0e0e0;
}
.picUpdate-center-pDiv p {
	font-size: 13px;
}
input[type="file"] {
	
}
.picUpdate-bottom {
	display: flex;
	align-items:center;
	justify-content: center;
	
	position: relative;
	width: 100%;
	height: 25%;
}
.picUpdate-bottom p {
   display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 100px;
   height: 25px;

   font-weight: bold;
   background-color: lightgray;
   border-radius: 10px;
}
.picUpdate-bottom p:hover {
   color: white;
   background-color: rgb(68, 68, 68);
}



.pwResetDiv {
	display: none;
}
.pwResetDiv.active {
	display: flex;
   	align-items: flex-start;
   	justify-content: flex-start;
   	flex-direction: column;
   	
   	position: absolute;
   	width: 300px;
   	height: 250px;
   	top: 50%;
   	left: 50%;
   	transform: translate(-50%, -50%);
   	z-index: 1001;
   	
   	background-color: white;
   	border: 4px solid lightgray;
}