@charset "UTF-8";

.title {
	margin-left: 10%;
	margin-top: 30px;
}
section {
	background-color: white;
}

section .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
}

section .report-manager {
	align-items: center;
	position: relative;
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.report-manager .search {
    text-align: center;
    width: 50%;
}

.report-manager .incomplete,
.report-manager .report-category {
	text-align: center;
    width: 50%;
}


.search input[type="text"] {
    width: 50%;
    height: 80%
}

.complete-button {
    width: 10%;
    height: 75%
}

section .search-list {
	display: flex;
	align-items: center;
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 20px;
}

table, th, td{
	border: 1px solid #686868;
	border-collapse: collapse;
}
tr {
	height: 10px;
}
th {
	background-color: #cacaca;
}
td {
	height: 40px;
}

table {
   position: relative;
   width: 91%;
}
.one {
	position: relative;
   	width: 5%;
}
.two {
	position: relative;
   	width: 5%;
}
.three {
	position: relative;
   	width: 10%;
}
.four {   
	position: relative;
   	width: 5%;
}
.five {   
	position: relative;
   	width: 10%;
}
.six {   
	position: relative;
   	width: 15%;
}
.seven {   
	position: relative;
   	width: 15%;
}
.eight {   
	position: relative;
   	width: 20%;
}
.nine {   
	position: relative;
   	width: 10%;
}
.ten {   
	position: relative;
   	width: 5%;
}

.search-list table tbody td {
    text-align: center;
}

.tbodyDiv {
	display: flex;
   	align-items: center;
   	justify-content: center;
   	height: 35px;
}
