@charset "UTF-8";

.salewrite {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  width: 1150px;
  border: 2px solid #22382e;
  border-radius: 2px;
  padding: 20px;
  overflow-y: auto;
}

.draftDiv {
	display: flex;
	flex-direction: row;
	
	width: 95%;
}
#draftList {
	margin-left: 5px;
}

#writeSubject {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 95%;
	margin: 5px auto;
	padding-bottom: 20px;
	
	border-bottom: 1px solid lightgray;
}



form {
	display: flex;
	flex-direction: column;
	width: 80%;
}
.form-head {
	position: relative;
	width: 15%;
	
	font-size: 14px;
	font-weight: bold;
}

.salewrite div {
  padding: 8px 0; /* 상하 여백을 줄임 */
}


.salemethod {
  display: flex;
  align-items: center;
}

.option-container {
  display: flex;
}

.option {
  border: 1px solid #CCCCCC;
  cursor: pointer;
  font-size: 12px;
  padding: auto;
}

.option.selected {
  background-color: #CCCCCC;
}

.price-container {
	flex-direction: row;
}

.price-container input {
	width: 200px;
	height: 30px;
  margin-right: 20px;
}


.auction-details {
	flex-direction: column;
}
.auction-details div {
	display: flex;
	flex-direction: row;
	padding: 2px;
}
.auction-details input[type="text"] {
	width:200px;
	height: 30px;
}
#auction-period {
	width:80px;
	height: 30px;
}


.salecategory,  .title, .photo, .place  {
	display: flex;
	flex-direction: row;
}
.title input {
  width: 100%; /* 너비를 부모 요소에 맞춤 */
  max-width: 400px; /* 최대 너비 설정 */
}

.photo input[type="file"] {
  width: 90%; 
  max-width: 300px;
  margin:  auto;
}

.content {
  display: flex;
  flex-direction: row; /* 컨텐츠를 세로로 배치 */
}

label {
  margin-bottom: 10px; /* 라벨 아래쪽 간격 추가 */
}

.content textarea {
  width: 100%; /* 너비를 부모 요소에 맞춤 */
  max-width: 700px; /* 최대 너비 설정 */
  height: 150px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  margin-left: 10px;
}

.fa-bookmark {
 font-size: 12px;	
}

a {
    display: inline-block; /* 링크를 인라인 블록 요소로 표시하여 한 줄에 나란히 배치 */
    vertical-align: middle; /* 아이콘과 텍스트를 수직 가운데 정렬 */
}








/* 사진,,,, */
.photo-tempo {
	
}
#photoSelect, #photoSave {
	  display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   width: 73px;
   height: 24px;
   margin-bottom: 5px;

   font-size: 13px;
   background-color: #f0f0f0;
   border-radius: 3px;
   border: 1px solid #626262;
}
#photoSelect:hover, #photoSave:hover {
   background-color: #e0e0e0;
}
.photo-select {
	display: none;
}
.photo-select.active {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	width: 300px;
	height: 150px;
	left: 50%;
	transform: translateX(-50%);
	
	background-color: white;
	border: 4px solid lightgray;
}
.photo-tempo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.photo-select-photo {
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: relative;
	width: 150px;
	height: 150px;
	margin-right: 10px;
	margin-bottom: 5px;
	
	border: 1px solid lightgray;
}
.photo-select-photo img {
	position: relative;
	width: 100%;
	height: 100%;
}
.fa-trash {
	position: absolute;
	top: 10px;
	right: 10px;
	
	font-size: 20px;
	color: lightgray;
}