<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beans.market.admin.dao.AdminDAO">	
	
	<!-- 성영 -->
	<select id="login" resultType="com.beans.market.admin.dto.AdminDTO">
		SELECT id, admin_name FROM admin WHERE id = #{param1} AND pw = #{param2}
	</select>

	<select id="alarm" resultType="com.beans.market.admin.dto.AlarmDTO">
		SELECT idx, content, checked, reg_date, link
			FROM admin_alarm
			ORDER BY reg_date DESC
	</select>
	
	<select id="noCompleteInquiry" resultType="Integer">
		SELECT COUNT(*) AS no_complete_cnt 
			FROM inquiry i LEFT JOIN inq_reply ir 
				ON i.inquiry_idx = ir.inquiry_idx 
			WHERE ir.inquiry_idx IS NULL
	</select>
	
	<select id="noCompleteReport" resultType="Integer">
		SELECT COUNT(report_complete) AS no_complete_cnt 
			FROM report 
			WHERE report_complete = 'N'
	</select>
	
	<update id="alarmRead">
		UPDATE admin_alarm SET checked = 'Y' WHERE idx = #{param1}
	</update>
	
	<select id="newAlarm" resultType="Integer">
		SELECT COUNT(checked) AS cnt 
			FROM admin_alarm
			WHERE checked = 'N'
	</select>

	<select id="messageList" resultType="com.beans.market.message.dto.MessageDTO">
		SELECT 
			message_idx, 
			content, 
			reg_date, 
			receive_email, 
			receive_del, 
			sender_email, 
			sender_del,
			read_check,
			idx
		FROM 
			deal_message
		WHERE 
			CASE WHEN #{param1} = 0 THEN 1=1 ELSE message_idx = #{param1} END
	</select>
	
	<select id="messageReportList" resultType="com.beans.market.message.dto.MessageDTO">
		SELECT 
			dm.message_idx, 
			dm.content, 
			dm.reg_date, 
			dm.receive_email, 
			dm.receive_del, 
			dm.sender_email, 
			dm.sender_del,
			dm.read_check,
			dm.idx,
			r.idx,
			r.report_complete
		FROM deal_message dm 
		LEFT JOIN 
			(SELECT r.report_idx, r.option_idx, r.idx, r.report_complete, r.reg_date FROM report r WHERE r.option_idx = 'RB003' AND r.report_complete = 'N') AS r
			ON dm.message_idx = r.idx
		WHERE r.idx IS NOT NULL AND
			CASE WHEN #{param1} = 0 THEN 1=1 ELSE dm.message_idx = #{param1} END
		ORDER BY r.reg_date
	</select>
	
	
	<select id="roomListCall" resultType="com.beans.market.message.dto.MessageDTO">
		SELECT dm.idx, dm.sender_email, dm.receive_email, b.subject, dm.reg_date
			FROM deal_message dm LEFT JOIN (SELECT b.idx, b.email, b.subject FROM bbs b) AS b ON dm.idx = b.idx
			WHERE dm.receive_email = b.email AND
				CASE WHEN #{param1} = 0 THEN 1=1 ELSE dm.idx = #{param1} END
			GROUP BY dm.idx, dm.receive_email, dm.sender_email
			ORDER BY dm.idx
	</select>
	
	<select id="roomReportListCall" resultType="com.beans.market.message.dto.MessageDTO">
		SELECT dm.idx, dm.sender_email, dm.receive_email, b.subject, dm.reg_date, r.report_idx, r.perpet_email, r.reporter_email 
			FROM deal_message dm 
			LEFT JOIN (SELECT b.idx, b.email, b.subject FROM bbs b) AS b 
				ON dm.idx = b.idx
			LEFT JOIN (SELECT r.report_idx, r.option_idx, r.idx, r.report_complete, r.reg_date, r.perpet_email, r.reporter_email FROM report r WHERE r.option_idx = 'RB002' AND r.report_complete = 'N') AS r
				ON dm.idx = r.idx 
					AND (dm.sender_email = r.reporter_email OR dm.sender_email = r.perpet_email)
					AND (dm.receive_email = r.reporter_email OR dm.receive_email = r.perpet_email)
			WHERE dm.receive_email = b.email AND r.idx IS NOT NULL AND
				CASE WHEN #{param1} = 0 THEN 1=1 ELSE dm.idx = #{param1} END
			GROUP BY dm.idx, dm.receive_email, dm.sender_email
			ORDER BY dm.idx
	</select>
	<!-- GROUP BY에 r.report_idx를 추가하면 신고 번호에 대해서도 구분할 수 있다. -->

	<select id="roomDetailCall" resultType="com.beans.market.message.dto.MessageDTO">
		SELECT b.idx, 
				b.subject,
				dm.message_idx, 
				dm.content, 
				dm.reg_date, 
				dm.receive_email, dm.receive_del,
				dm.sender_email, dm.sender_del,
				dm.read_check			
		FROM deal_message dm 
		LEFT JOIN (SELECT b.idx, b.email, b.subject FROM bbs b) AS b 
			ON dm.idx = b.idx
			AND (dm.sender_email = b.email OR dm.sender_email = #{param3})
			AND (dm.receive_email = b.email OR dm.receive_email = #{param3})
		where b.idx = #{param1};
	</select>
	
	<select id="categoryCall" resultType="com.beans.market.admin.dto.CategoryDTO">
		SELECT category_idx, category_name, hidden FROM category ORDER BY category_idx
	</select>

	<update id="categorySave">
		UPDATE category SET category_name = #{param2}, hidden = #{param3}
			WHERE category_idx = #{param1}
	</update>
	
	<insert id="categoryInsert">
		INSERT INTO category(category_idx, category_name) VALUES(#{param1}, #{param2});
	</insert>
	
	<select id="reportListCallNumber" resultType="com.beans.market.report.dto.ReportDTO">
		SELECT r.report_idx, r.option_idx, r.idx, r.category_idx, r.content, r.report_complete, r.reg_date, r.reporter_email, r.perpet_email, r.admin_name
			, c.category_name AS category_name
			, o.category_name AS option_name
		FROM report r
		LEFT JOIN (SELECT c.category_idx, c.category_name FROM category c) AS c 
			ON r.category_idx = c.category_idx
		LEFT JOIN (SELECT o.category_idx, o.category_name FROM category o) AS o 
			ON r.option_idx = o.category_idx
		WHERE CASE WHEN #{param1} = 0 THEN 1=1 ELSE report_idx = #{param1} END
			AND CASE WHEN #{param2} = 'N' THEN 1=1 ELSE r.report_complete = 'N' END
		ORDER BY r.reg_date DESC
	</select>
	
	<select id="reportListCallPerpet" resultType="com.beans.market.report.dto.ReportDTO">
		SELECT r.report_idx, r.option_idx, r.idx, r.category_idx, r.content, r.report_complete, r.reg_date, r.reporter_email, r.perpet_email, r.admin_name
			, c.category_name AS category_name
			, o.category_name AS option_name
		FROM report r
		LEFT JOIN (SELECT c.category_idx, c.category_name FROM category c) AS c 
			ON r.category_idx = c.category_idx
		LEFT JOIN (SELECT o.category_idx, o.category_name FROM category o) AS o 
			ON r.option_idx = o.category_idx
		WHERE r.perpet_email = #{param1} AND CASE WHEN #{param2} = 'N' THEN 1=1 ELSE r.report_complete = 'N' END
		ORDER BY r.reg_date DESC
	</select>
	
	<update id="complete">
		UPDATE report SET report_complete = 'Y', admin_name = #{param2}
			WHERE report_idx = #{param1}
	</update>
	<!-- 성영 END -->
		
	
	
	
	
	
	
	
	
	
	
	
	<!-- 도혜 -->
	<!-- 회원 관리 -->
	<select id="memberSelect1" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
	</select>
	<select id="memberSelect2" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE login_banend != '1970-01-01' AND login_banend != '9999-12-31'
	</select>
	<select id="memberSelect3" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE login_banend = '9999-12-31'
	</select>
	<select id="memberSelect4" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE dormant = 'Y'
	</select>
	<select id="memberSelect5" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE secession = 'Y'
	</select>
	<select id="memberSelect6" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE warn_count = #{param1}
	</select>
	<select id="memberSelect7" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE login_banend != '1970-01-01' AND login_banend != '9999-12-31' AND warn_count = #{param1}
	</select>
	<select id="memberSelect8" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE login_banend = '9999-12-31' AND warn_count = #{param1}
	</select>
	<select id="memberSelect9" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE dormant = 'Y' AND warn_count = #{param1}
	</select>
	<select id="memberSelect10" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE secession = 'Y' AND warn_count = #{param1}
	</select>
	<select id="memberSelect11" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE email LIKE CONCAT('%', #{param1}, '%') OR name LIKE CONCAT('%', #{param1}, '%')
	</select>
	<select id="memberSelect12" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE login_banend != '1970-01-01' AND login_banend != '9999-12-31' AND (email LIKE CONCAT('%', #{param1}, '%') OR name LIKE CONCAT('%', #{param1}, '%'))
	</select>
	<select id="memberSelect13" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE login_banend = '9999-12-31' AND (email LIKE CONCAT('%', #{param1}, '%') OR name LIKE CONCAT('%', #{param1}, '%'))
	</select>
	<select id="memberSelect14" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE dormant = 'Y' AND (email LIKE CONCAT('%', #{param1}, '%') OR name LIKE CONCAT('%', #{param1}, '%'))
	</select>
	<select id="memberSelect15" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE secession = 'Y' AND (email LIKE CONCAT('%', #{param1}, '%') OR name LIKE CONCAT('%', #{param1}, '%'))
	</select>
	<select id="memberSelect16" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE warn_count = #{param1} AND (email LIKE CONCAT('%', #{param2}, '%') OR name LIKE CONCAT('%', #{param2}, '%'))
	</select>
	<select id="memberSelect17" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE login_banend != '1970-01-01' AND login_banend != '9999-12-31' AND warn_count = #{param1} AND (email LIKE CONCAT('%', #{param2}, '%') OR name LIKE CONCAT('%', #{param2}, '%'))
	</select>
	<select id="memberSelect18" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE login_banend = '9999-12-31' AND warn_count = #{param1} AND (email LIKE CONCAT('%', #{param2}, '%') OR name LIKE CONCAT('%', #{param2}, '%'))
	</select>
	<select id="memberSelect19" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE dormant = 'Y' AND warn_count = #{param1} AND (email LIKE CONCAT('%', #{param2}, '%') OR name LIKE CONCAT('%', #{param2}, '%'))
	</select>
	<select id="memberSelect20" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, 
			name, 
			warn_count, 
			login_banend,
			CASE 
				WHEN warn_count = 9 THEN 'Y'
           		ELSE 'N'
			END AS permanent_ban, 
			dormant, 
			secession
		FROM member
		WHERE secession = 'Y' AND warn_count = #{param1} AND (email LIKE CONCAT('%', #{param2}, '%') OR name LIKE CONCAT('%', #{param2}, '%'))
	</select>
	<!-- 유저 제제 -->
	<insert id="userManageDo" parameterType="map">
		INSERT INTO member_penalty(option, content, admin_name, email)
		VALUES(#{manageOption}, #{manageContent}, #{admin_name}, #{memberEmail});
	</insert>
	<update id="userManageUpdate1" parameterType="map">
		UPDATE member SET warn_count = warn_count+1 WHERE email = #{memberEmail}
	</update>
	<update id="userManageUpdate2" parameterType="map">
		UPDATE member SET warn_count = warn_count-1 WHERE email = #{memberEmail}
	</update>
	<update id="userManageUpdate3" parameterType="map">
		UPDATE member
		SET login_banstr = CURDATE(),
		    login_banend = DATE_ADD(CURDATE(), INTERVAL 3 DAY)
		WHERE email = #{memberEmail}
	</update>
	<update id="userManageUpdate4" parameterType="map">
		UPDATE member
		SET login_banstr = '9999-12-31',
		    login_banend = '1970-01-01'
		WHERE email = #{memberEmail}
	</update>
	<update id="userManageUpdate5" parameterType="map">
		UPDATE member 
		SET warn_count = 9 ,
			login_banend = '9999-12-31'
		WHERE email = #{memberEmail}
	</update>
	<!-- 회원 정보 불러오기 -->
	<!-- ** 정보약관동의 없음, 로그인 벤 날짜 시작날짜 null 처리 select email, name, location, scope, gender, birth_date, last_login, dormant, secession, point, warn_count, login_banstr, login_banend from member; -->
	<select id="getMemberProfile" resultType="com.beans.market.member.dto.MemberDTO">
		SELECT email, name, location, scope, gender, birth_date, last_login, dormant, secession, point, warn_count, login_banstr, login_banend 
		FROM member
		WHERE email = #{param1}
	</select>
	<select id="getmemberProfilePic" resultType="String">
		SELECT new_filename
		FROM member_profilepic
		WHERE email = #{param1}
	</select>
	<!-- 회원 포인트 수정 -->
	<update id="userPointUpdate1">
		update member set point = point + #{param2} where email = #{param1}
	</update>
	<insert id="userPointUpdate1Insert">
		INSERT INTO pay_hist(email, option, price, content)
		VALUES(#{param1}, '관리자 입금', #{param2}, '관리자 입금');
	</insert>
	<update id="userPointUpdate2">
		update member set point = point - #{param2} where email = #{param1}
	</update>
	<insert id="userPointUpdate2Insert">
		INSERT INTO pay_hist(email, option, price, content)
		VALUES(#{param1}, '관리자 출금', #{param2}, '관리자 출금');
	</insert>
	<!-- 회원 상세보기 - 페이 내역 -->
	<select id="memberPayHistory" resultType="com.beans.market.pay.dto.PayDTO">
		SELECT reg_date, option, content, price, idx 
		FROM pay_hist 
		WHERE email = #{param1}
		ORDER BY reg_date DESC
	</select>
	<select id="memberDisciplineHistory" resultType="com.beans.market.member.dto.MemberPenaltyDTO">
		SELECT penalty_idx, option, content, penalty_date, admin_name 
		FROM member_penalty 
		WHERE email = #{param1}
		ORDER BY penalty_date DESC
	</select>
	
	
	<!-- 문의 리스트 출력 -->
	<select id="inquirySelect1" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
	</select>
	<select id="inquirySelect2" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE success = 'Y'
	</select>
	<select id="inquirySelect3" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE success = 'N'
	</select>
	<select id="inquirySelect4" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE i.category_idx = #{param1}
	</select>
	<select id="inquirySelect5" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE success = 'Y' AND i.category_idx = #{param1}
	</select>
	<select id="inquirySelect6" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE success = 'N' AND i.category_idx = #{param1}
	</select>
	<select id="inquirySelect7" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE i.inquiry_title LIKE CONCAT('%', #{param1}, '%')
	</select>
	<select id="inquirySelect8" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE success = 'Y' AND i.inquiry_title LIKE CONCAT('%', #{param1}, '%')
	</select>
	<select id="inquirySelect9" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE success = 'N' AND i.inquiry_title LIKE CONCAT('%', #{param1}, '%')
	</select>
	<select id="inquirySelect10" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE i.inquiry_title LIKE CONCAT('%', #{param1}, '%') AND i.category_idx = #{param2}
	</select>
	<select id="inquirySelect11" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE success = 'Y' AND i.inquiry_title LIKE CONCAT('%', #{param1}, '%') AND i.category_idx = #{param2}
	</select>
	<select id="inquirySelect12" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL'
			        ELSE (SELECT a.admin_name 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS admin_name
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE success = 'N' AND i.inquiry_title LIKE CONCAT('%', #{param1}, '%') AND i.category_idx = #{param2}
	</select>
	<select id="getAdminName" resultType="String">
		SELECT admin_name
		FROM admin
		WHERE id = #{param1}
	</select>
	<select id="getInquiryData" resultType="com.beans.market.main.dto.InquiryDTO">
		SELECT i.inquiry_idx, i.inquiry_title, i.reg_date, i.enquirer, i.success, i.inquiry_account, i.inquiry_pw,
		    	c.category_name,
			    CASE 
			        WHEN (SELECT ir.reply 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1) IS NULL THEN 'NULL..'
			        ELSE (SELECT ir.reply 
			              FROM inq_reply ir
			              JOIN admin a ON a.id = ir.id
			              WHERE ir.inquiry_idx = i.inquiry_idx
			              LIMIT 1)
			    END AS reply
		FROM inquiry i
			JOIN category c ON i.category_idx = c.category_idx 
			LEFT OUTER JOIN inq_reply ir ON i.inquiry_idx = ir.inquiry_idx
		WHERE i.inquiry_idx = #{param1}
	</select>
	<insert id="inquiryReply">
		INSERT INTO inq_reply(inquiry_idx, reply, id)
		VALUES(#{param1}, #{param3}, #{param2})
	</insert>
	<update id="inquiryUpdate">
		UPDATE inquiry SET success = 'Y' WHERE inquiry_idx = #{param1}
	</update>


	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 정언 -->
	<!-- 게시글 관리 -->
	<select id="bbsSelect1" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs
	</select>
	<select id="bbsSelect2" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE blind='Y'
	</select>
	<select id="bbsSelect3" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE draft='Y'
	</select>
	<select id="bbsSelect4" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE bbs_state=#{param1}
	</select>
	<select id="bbsSelect5" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE bbs_state=#{param1} AND blind='Y'
	</select>
	<select id="bbsSelect6" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE bbs_state=#{param1} AND draft='Y'
	</select>
	<select id="bbsSelect7" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE category_idx=#{param1}
	</select>
	<select id="bbsSelect8" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE category_idx=#{param1} AND blind='Y'
	</select>
	<select id="bbsSelect9" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE category_idx=#{param1} AND draft='Y'
	</select>
	<select id="bbsSelect10" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE category_idx=#{param1} AND bbs_state=#{param2}
	</select>
	<select id="bbsSelect11" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE category_idx=#{param1} AND bbs_state=#{param2} AND blind='Y'
	</select>
	<select id="bbsSelect12" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs WHERE category_idx=#{param1} AND bbs_state=#{param2} AND draft='Y'
	</select>
	<select id="bbsSelect13" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}
	</select>
	<select id="bbsSelect14" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND blind='Y'; 
	</select>
	<select id="bbsSelect15" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND draft='Y'; 
	</select>
	<select id="bbsSelect16" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND bbs_state=#{param3}
	</select>
	<select id="bbsSelect17" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND bbs_state=#{param3} AND blind='Y' 
	</select>
	<select id="bbsSelect18" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND bbs_state=#{param3} AND draft='Y' 
	</select>
	<select id="bbsSelect19" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND category_idx=#{param3} 
	</select>
	<select id="bbsSelect20" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND category_idx=#{param3} AND blind='Y'
	</select>
	<select id="bbsSelect21" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND category_idx=#{param3} AND tempsave='Y'
	</select>
	<select id="bbsSelect22" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND bbs_state={param3} AND category_idx=#{param4}
	</select>
	<select id="bbsSelect23" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND bbs_state={param3} AND category_idx=#{param4} AND blind='Y'
	</select>
	<select id="bbsSelect24" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
			idx,
			option,
			bbs_state,
			subject,
			price,
			email,
			reg_date,
			blind
		FROM bbs 
		WHERE (subject LIKE  CONCAT('%', #{param1}, '%') OR idx=#{param2}) AND bbs_state={param3} AND category_idx=#{param4} AND tempsave='Y'
	</select>
	
	<!-- 게시글 상세보기 관리 -->
	<select id="boardDetail" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT
		    b.idx,
		    b.email,
		    b.option,
		    b.bbs_state,
		    b.location,
		    b.reg_date,
		    b.blind,
		    b.hidden,
		    b.category_idx,
		    c.category_name,
		    b.draft,
		    b.price,
		    b.reserve_email,
		    a.start_price,
		    a.successful_bid,
		    a.auction_period,
		    a.close_date
		FROM
		    bbs b
		LEFT JOIN
		    auction a ON b.idx = a.idx
		LEFT JOIN
			category c ON b.category_idx = c.category_idx  
		WHERE
		    b.idx = #{param1}
	</select>
	<!-- 게시글 블라인드 처리 -->	
	<select id="boardBlind">
		UPDATE bbs SET blind='Y' WHERE idx=#{param1}
	</select>
	<select id="boardBlindDel">
		UPDATE bbs SET blind='N' WHERE idx=#{param1}
	</select>
	
	
	
	
	
	
	
	
	
</mapper>