<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beans.market.admin.dao.NoticeDAO">	
	
<select id="list" resultType="com.beans.market.admin.dto.NoticeDTO" parameterType="map">
    SELECT n.notice_idx, n.notice_option, n.notice_title, n.notice_content, n.id, n.notice_date, n.nHit, a.admin_name
    FROM notice n
    LEFT JOIN admin a ON n.id = a.id
    ORDER BY n.notice_date DESC, n.notice_idx DESC -- 날짜를 내림차순으로 정렬
    LIMIT #{param1} OFFSET #{param2}
</select>

<select id="allCount" resultType="Integer">
    SELECT CEIL(COUNT(notice_idx)/#{param1}) AS pages FROM notice
</select>
	
	
<select id="detail" resultType="com.beans.market.admin.dto.NoticeDTO">
    SELECT n.notice_idx, n.notice_option, n.notice_title, n.notice_content, n.id, n.notice_date, n.nHit, a.admin_name
    FROM notice n
    LEFT JOIN admin a ON n.id = a.id
    WHERE n.notice_idx = #{notice_idx}
</select>
	
	
<update id="increaseHitCount">
    UPDATE notice
    SET nHit = nHit + 1
    WHERE notice_idx = #{notice_idx}
</update>
<select id="noticesearch" resultType="com.beans.market.admin.dto.NoticeDTO">
    SELECT n.notice_idx, n.notice_option, n.id, n.notice_title, n.notice_content, n.nHit, n.notice_date, a.admin_name
    FROM notice n
    LEFT JOIN admin a ON n.id = a.id
    WHERE n.notice_title LIKE CONCAT('%', #{param1}, '%')
</select>
</mapper>