<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beans.market.admin.dao.QuestionDAO">

	<select id="list" resultType="com.beans.market.admin.dto.QuestionDTO" parameterType="Integer">
		SELECT inquiry_idx, inquiry_pw, inquiry_title, reg_date, enquirer FROM inquiry 
		ORDER BY inquiry_idx 
		DESC LIMIT #{param1} offset #{param2}
	</select>	
	
	<select id="allCount" resultType="Integer">
		SELECT CEIL(COUNT(inquiry_idx)/#{param1}) AS pages FROM inquiry
	</select>
	
	<!--  문의 글 작성 -->
	<insert id="write" 
	useGeneratedKeys="true"
	keyColumn="idx"
	keyProperty="idx"
	parameterType="com.beans.market.admin.dto.QuestionDTO">
		INSERT INTO inquiry(inquiry_pw, inquiry_title, inquiry_account, reg_date, enquirer, category_idx)
			VALUES(#{inquiry_pw}, #{inquiry_title},#{inquiry_account},  current_timestamp, #{enquirer} , #{category_idx})
	</insert>
	
	<!--  검색 -->
	<select id="selectSearchList" parameterType="com.beans.market.admin.dto.QuestionDTO" resultType="com.beans.market.admin.dto.QuestionDTO">
		SELECT inquiry_idx, inquiry_pw, inquiry_title, reg_date, enquirer FROM inquiry
	<choose>
		<when test="type != null and type.equals('title')">
		AND inquiry_title LIKE CONCAT('%', #{keyword}, '%')
		</when>
		<when test="type != null and type.equals('titleNContent')">
		AND (inquiry_title LIKE CONCAT('%', #{keyword}, '%') OR inquiry_account LIKE CONCAT('%', #{keyword}, '%'))
		</when>

	</choose> 
	</select>
	
</mapper>