<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beans.market.member.dao.MemberDAO">	
	
	<!-- 아이디 등록 여부 -->
	<select id="overlay" resultType="int">
		SELECT COUNT(email)FROM member WHERE email = #{param1}
	</select>
	<!--로그인-->
	<select id="login" resultType="String">
		SELECT email,pw FROM member WHERE email= #{param1} AND pw= #{param2}
	</select>
	
	<!-- 비밀번호 변경하기 -->
	<update id = "newPW">
		UPDATE member SET pw= #{param1} where pw is not null
	</update>
	
	<!-- 회원가입 -->
	<insert id = "join" parameterType="Map">
		INSERT INTO member(email,pw,name,birth_date,gender)
		VALUES()
	</insert>

	
</mapper>