<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beans.market.board.dao.BoardDAO">	
	
	<update id="upHit">
		UPDATE bbs SET bHit = bHit+1 WHERE idx = #{param1}
	</update>
	
	<select id="goodsDetail" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT idx, email, option, subject, price, place, reg_date, content, hidden, bbs_state, reserve_email, category_idx FROM bbs
			WHERE idx = #{param1}
	</select>
	
	<select id="auctionDetail" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT b.idx, b.email, b.option, b.subject, b.price, b.place, b.reg_date, b.content, b.hidden, b.bbs_state, a.start_price, a.successful_bid, a.auction_period, a.close_date, a.bid_count 
			FROM auction a join bbs b on a.idx=b.idx WHERE b.idx = #{param1}
	</select>
	
	<insert id="interestInsert">
		INSERT INTO interest(idx, email)
			VALUES(#{param1}, #{param2})
	</insert>
	
	<delete id="interestDel">
		DELETE FROM interest WHERE idx = #{param1} AND email = #{param2}
	</delete>
	
	<update id="bidResultUpdate">
		UPDATE bbs AS b
			JOIN auction AS a ON b.idx = a.idx 
			SET b.price = #{param2}, a.bid_count = a.bid_count + 1 
		WHERE b.idx = #{param1} AND a.idx = #{param1}
	</update>
	
	<update id="updateBbsState">
		UPDATE bbs SET bbs_state = #{param2} WHERE idx = #{param1}
	</update>
	
	<update id="updateCloseDate">
		UPDATE auction SET close_date = #{param2} WHERE idx = #{param1}
	</update>
	
	<update id="updateReserveEmail">
		UPDATE bbs SET reserve_email = #{param2} WHERE idx = #{param1}
	</update>
	
	<select id="getEmail" resultType="String">
		SELECT email FROM bbs WHERE idx = #{param1};
	</select>
	
	<update id="reserveUpdate">
		UPDATE bbs SET reserve_email = #{param1}, bbs_state = #{param3} WHERE idx = #{param2}
	</update>
	
	
	<!-- 글작성 ::판매 이미지도 해야함!!!!!!!!!!!!, 가격,사용자 위치, -->
	<insert id="writeBoard"
			useGeneratedKeys="true"
			keyColumn="idx"
			keyProperty="idx"
			parameterType="com.beans.market.board.dto.BoardDTO">
		INSERT into bbs(email, option, category_idx, subject, content, place)
		VALUES (#{email}, #{option}, #{category_idx}, #{subject}, #{content}, #{place})
	</insert>
	
	<!-- 글작성 ::판매 -->
	<update id="updatePrice">
		UPDATE bbs SET price = #{param1} WHERE idx = #{param2}
	</update>
	
	<!-- bbs에 경매 가격 업데이트 -->
	<update id="updateAuctionPrice">
		UPDATE bbs SET price = #{param1} WHERE idx = #{param3}
	</update>
	
	<!-- aution에 기간 업데이트 -->
	<insert id="updateAuctionPrice2">
		INSERT INTO auction(start_price, successful_bid, auction_period, idx) VALUES(#{param1}, #{param2}, #{param3}, #{param4});
	</insert>
	
	
	<!-- main, new_picname, idx, option_idx -->
	<!-- void savePhoto(int idx, String orifilename, String newfileName); -->
	<insert id="savePhoto">
		INSERT INTO photo (idx, option_idx, main, new_picname) VALUES(#{param1}, 1, 'Y', #{param3})
	</insert>
	
	<insert id="savePhoto2">
		INSERT INTO photo (idx, option_idx, main, new_picname) VALUES(#{param1}, 1, 'N', #{param3})
	</insert>
	
	
	
	<!-- 임시 저장 -->
	<insert id="tempSave"
			useGeneratedKeys="true"
			keyColumn="idx"
			keyProperty="idx"
			parameterType="com.beans.market.board.dto.BoardDTO">
		INSERT into bbs(email, option, category_idx, subject, content, place, draft)
		VALUES (#{email}, #{option}, #{category_idx}, #{subject}, #{content}, #{place}, #{draft});
	</insert>
	
		<!-- 타회원 판매물품 리스트 -->
	<select id = "list" resultType="com.beans.market.board.dto.BoardDTO">
		SELECT idx,email, option, category_idx,subject,location,price,place,reg_date,bhit,bbs_state from bbs where email = #{param1}
	  </select>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	
	<!-- 게시글의 팬마자가 나인가? -->
	<select id="myBbsCheck" resultType="Integer">
		select count(*) from bbs where idx= #{param1} and email = #{param2}
	</select>
	<!-- 게시글 수정하기 - 페이지 이동 시, 사진 불러오기 -->
	<select id="goodsUpdatePic" resultType="com.beans.market.photo.dto.PhotoDTO">
		SELECT new_picname, pic_idx
		FROM photo
		WHERE idx = #{param1} AND option_idx = 1
	</select>
	<!-- 게시글 수정하기 -->
	<update id="goodsUpdate">
		UPDATE bbs
		SET price = #{param2},
			category_idx = #{param3},
			subject = #{param4},
			content = #{param5},
			place = #{param6}
		WHERE idx = #{param1}
	</update>
	
	<!-- 글 작성 시, 사진 미리보기 -->
	<insert id="tempoPhoto">
		INSERT INTO photo(new_picname, idx, option_idx)
		VALUES(#{param3}, #{param1}, 1)
	</insert>
	<!-- 글 작성 시, 사진의 idx 받아오기 -->
	<select id="tempoPhotoGetPicidx" resultType="Integer">
		SELECT pic_idx
		FROM photo
		WHERE new_picname = #{param1} AND option_idx = 1
	</select>
	<!-- 글 작성 시, 사진 삭제 -->
	<delete id="tempoPhotoDel">
		DELETE FROM photo
		WHERE pic_idx = #{param1} AND option_idx = 1
	</delete>
	<!-- 글 작성 시, 사진의 name들 갖고오기... -->
	<select id="tempoPhotoGetNames" resultType="String">
		SELECT new_picname
		FROM photo
		WHERE idx = #{param1} AND option_idx = 1
	</select>
	<!-- 글 사진 업데이트 -->
	<update id="photoSave">
		update photo
		set main = 'Y',
			idx = #{param1}
		where new_picname = #{param2}
	</update>
	<update id="photoSave2">
		update photo
		set main = 'N',
			idx = #{param1}
		where new_picname = #{param2}
	</update>
</mapper>